version: "3.9"
services:
  db:
    image: postgres:15
    container_name: advancia-postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: advancia
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - app_net

  backend:
    build: ./backend
    container_name: advancia_backend
    environment:
      - DATABASE_URL=postgres://postgres:postgres@db:5432/advancia
      - NODE_ENV=development
      - PORT=4000
      - JWT_SECRET=dev_secret_key_change_in_prod
    depends_on:
      - db
    ports:
      - "4000:4000"
    networks:
      - app_net

  frontend:
    build: ./frontend
    container_name: advancia_frontend
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    ports:
      - "3000:3000"
    networks:
      - app_net

  nginx:
    image: nginx:stable
    container_name: advancia_nginx
    depends_on:
      - frontend
      - backend
    volumes:
      - ./nginx/advancia.conf:/etc/nginx/conf.d/default.conf:ro
    ports:
      - "80:80"
    networks:
      - app_net

volumes:
  db_data:


networks:
  app_net:
    driver: bridge
